<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('../partials/head.ejs') %> <%- include
    ('../partials/adminNav.ejs') %>
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div><i class="fa fa-table"></i> CATEGORY DETAILS</div>
            <div>
              <button
                type="button"
                class="btn btn-outline-success "
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Add<span class="fa fa-plus ml-1"></span>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <% if(locals.err_msg) { %>
            <p class="text-danger"><strong><%= err_msg %></strong></p>
            <% } %>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="Table"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                      SI NO
                    </th>
                    <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                      CATEGORY ID
                    </th>
                    <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                      CATEGORY
                    </th>
                    <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                      OPTIONS
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% allCategory.forEach((allCategory,index)=>{ %>
                  <tr>
                    <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                      <%= index + 1 %>
                    </td>
                    <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                      <%= allCategory._id %>
                    </td>
                    <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                      <%= allCategory.Category %>
                    </td>

                    <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                      <!-- edit modal -->
                      <div class="d-flex ml-5">
                        <button
                          type="button"
                          class="btn btn-outline-info d-flex"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop-<%= allCategory._id %>  "
                        >
                          <span class="fa fa-pen-to-square mt-1 mr-1"></span>
                        </button>
                        <div
                          class="modal fade"
                          id="staticBackdrop-<%= allCategory._id %>"
                          data-bs-backdrop="static"
                          data-bs-keyboard="false"
                          tabindex="-1"
                          aria-labelledby="staticBackdropLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <form
                                action="/admin/editCategory/<%= allCategory._id %>"
                                method="post"
                              >
                                <div class="modal-header">
                                  <h5
                                    class="modal-title"
                                    id="staticBackdropLabel"
                                  >
                                    Edit Category
                                  </h5>
                                </div>
                                <div class="mb-3">
                                  <label
                                    for="exampleInputEmail1"
                                    class="form-label"
                                    >Category</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="category"
                                    name="category"
                                    aria-describedby="emailHelp"
                                    value="<%= allCategory.Category  %>"
                                  />
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                    style="
                                      background-color: rgba(0, 0, 0, 0.696);
                                    "
                                  >
                                    Close
                                  </button>
                                  <button
                                    type="submit"
                                    value="submit"
                                    class="btn btn-primary"
                                    style="background-color: blue;"
                                  >
                                    Confirm
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- edit moda end -->
                        <!-- delete modal -->
                        <button
                          type="button"
                          class="btn btn-outline-danger d-flex ml-3"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal-<%= allCategory._id %>"
                        >
                          <span class="fa fa-trash mt-1 mr-1"></span>
                        </button>

                        <div
                          class="modal fade"
                          id="exampleModal-<%= allCategory._id %>"
                          tabindex="-1"
                          aria-labelledby="exampleModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1
                                  class="modal-title fs-5"
                                  id="exampleModalLabel"
                                >
                                  CONFIRMATION
                                </h1>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-dialog">
                                Are you confirm ?
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                  style="
                                    background-color: rgba(0, 0, 0, 0.696);
                                  "
                                >
                                  Close
                                </button>
                                <a
                                  href="/admin/deleteCategory/<%= allCategory._id %>"
                                  ><button type="button" class="btn btn-danger">
                                    Delete
                                  </button></a
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- delete modal end -->
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- add modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Add Category
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/admin/addCategory" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Category</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="category"
                  name="category"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                style="background-color: rgba(0, 0, 0, 0.696);"
              >
                Close
              </button>
              <button type="submit" value="submit" class="btn btn-success">
                submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- add modal end -->

    <%- include ('../partials/footerLink.ejs') %>
    <script>
      $(document).ready(function () {
        $("#Table").DataTable();
      });
    </script>
  </body>
</html>
