<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('../partials/head.ejs') %> <%- include
    ('../partials/adminNav.ejs') %>

    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> ORDERS DETAILS 
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="Table"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th scope="col">ORDER DATE</th>
              <th scope="col">CUSTOMER</th>
              <th scope="col">PAYMENT METHOD</th>
              <th scope="col">ORDER STATUS</th>
              <th scope="col">PAYMENT STATUS</th>
              <th scope="col">OPTION</th>
                  </tr>
                </thead>

                <tbody>
                 
                  
                 <%if (orders){%>
                  <% orders.forEach((order)=>{ %>
                    <tr>
                      <td>
                       <%=order.orderdate%>
                      </td>
                      <td>
                        <%=order.address.fullname%>
                      </td>
                      <td>
                        <%=order.paymentMethod%>
                      </td>
                      <td>
                        <%if (order.orderStatus == "placed"){%>
                            <strong class="text-info"><%=order.orderStatus%></strong>
                          <%}%>
                          <%if (order.orderStatus == "Cancelled"){%>
                            <strong class="text-danger"><%=order.orderStatus%></strong>
                          <%}%>
                          <%if (order.orderStatus == "shipped"){%>
                            <strong class="text-warning"><%=order.orderStatus%></strong>
                          <%}%>
                          <%if (order.orderStatus == "delivered"){%>
                            <strong class="text-success"><%=order.orderStatus%></strong>
                          <%}%>
                      </td>
                      <td >
                        <%if (order.paymentStatus == "paid"){%>
                              <strong class="text-success"><%=order.paymentStatus%></strong>
                            <%}%>
                            <%if (order.paymentStatus == "Not paid"){%>
                                <strong class="text-danger"><%=order.paymentStatus%></strong>
                              <%}%> 
                      </td>
                      <td class="d-flex justify-content-center">
                        <button class="btn btn-outline-primary  mt-2 mr-1"
                        data-toggle="modal"
                        data-target="#details-<%= order._id %>"
                           ><span class="fa fa-file-invoice "></span></button>
                        <button class="btn btn-outline-info  mt-2"
                        data-toggle="modal"
                        data-target="#edit-<%= order._id %>"
                           ><span class="fa fa-pen-to-square "></span></button>
                      </td>
                    </tr>
                    <%})%>
                    <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>







            <!-- order modal -->
    <% orders.forEach((order)=>{ %>
        <div id="details-<%= order._id%>" class="modal fade">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-muted mb-0">
                  Total Amount : 
                 <strong><span class="fa fa-indian-rupee-sign "><%= order.totalAmount%></span></strong> 
                </h5>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-end align-items-center mb-4">
                  <p class="small text-muted mb-0">
                    Order Id : <%= order._id%>
                  </p>
                </div>
                <% order.productDetail.forEach((product , index)=>{ %>
                    <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img
                                src="<%=product.image[0].url%>"
                                class="img-fluid"
                                alt=""
                              />
                            </div>
                            <div
                              class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            >
                              <p class="text-muted mb-0"><%= product.productName%></p>
                            </div>
                            <div
                              class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            >
                              <p class="text-muted mb-0 small"><%= product.Category%></p>
                            </div>
          
                            <div
                              class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            >
                              <p class="text-muted mb-0 small">
                                Qty: <%= order.orderItem[index].quantity%>
                              </p>
                            </div>
                            
                            <div
                              class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            >
                              <p class="text-muted mb-0 small">
                                <span class="text-muted fa fa-indian-rupee-sign"
                                  ><%=product.price %></span
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                <%})%>
    
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0">Shipping Address :</p>
                  <!-- <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Total</span>
                    <span class="fa fa-indian-rupee-sign"></span> -->
                   
                  </p>
                </div>
    
                <div class="d-flex justify-content-between pt-2">
                  <!-- <p class="text-muted mb-0"></p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p> -->
                </div>
    
                <div class="d-flex justify-content-between">
                  <p class="text-muted mb-0">
                    <strong><%= order.address.fullname%></strong>
                    <br />
                    <%= order.address.address%>
                    <br />
                    <%= order.address.locality%>
                    <br />
                    <%= order.address.pincode%>
                    <br />
                    <%= order.address.district%>
                    <br />
                    <%= order.address.state%>
                    <br />
                    <%= order.address.landmark%>
                    <br />
                    <%if(order.address.phonenumber){%> <%=
                        order.address.phonenumber%> <%}else{%> <%=
                            order.mobileNumber%> <%}%>
                  </p>
                  <!-- <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Delivery Charges</span> Free -->
                  </p>
                </div>
    
                <div class="d-flex justify-content-between mb-5">
                  <p class="text-muted mb-0"></p>
                  <p class="text-muted mb-0"></p>
                </div>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
    
        <%})%>
  <!-- edit modal -->
  <% orders.forEach((order)=>{ %>
    <div
      class="modal fade"
      id="edit-<%= order._id %>"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
          </div>
          <div class="modal-body">
            <form action="/admin/changeStatus/<%= order._id %>" method="post">
              <div class="mb-3">
                <label
                  for="recipient-name"
                  name="orderStatus"
                  class="col-form-label"
                >
                  Order Status
                </label>
                <select
                  class="form-select"
                  name="orderStatus"
                  aria-label="Default select example"
                >
                  <option selected disabled><%= order.orderStatus %></option>
                  <option value="pending" name="orderStatus">Placed</option>
                  <option value="shipped" name="orderStatus">Shipped</option>
                  <option value="delivered" name="orderStatus">Delivered</option>
                  <option value="cancelled" name="orderStatus">Cancelled</option>
                </select>
              </div>
              <div class="mb-3">
                <label
                  for="message-text"
                  name="paymentStatus"
                  class="col-form-label"
                  >Payment Status</label
                >
                <select
                  class="form-select"
                  name="paymentStatus"
                  aria-label="Default select example"
                >
                  <option selected disabled><%= order.paymentStatus %></option>
                  <option value="not paid" name="paymentStatus">not paid</option>
                  <option value="paid" name="paymentStatus">paid</option>
                </select>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" value="submit" class="btn btn-success">
                  confirm
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%})%>

    <%- include ('../partials/footerLink.ejs') %>
    <script>
      $(document).ready(function () {
    $('#Table').DataTable();
     });
    </script>
  </body>
</html>
