<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include ('../partials/head.ejs') %> <%- include
    ('../partials/adminNav.ejs') %>
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i>  USER DETAILS 
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="Table"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th scope="col">USER ID</th>
                    <th scope="col">USER NAME</th>
                    <th scope="col">E-MAIL</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col">OPTION</th>
                  </tr>
                </thead>

                <tbody>
                 
                    <% user.forEach((user)=>{ %>
                  

                  <tr>
                    <td>
                      <%= user._id %>
                    </td>
                    <td>
                      <%= user.username %>
                    </td>
                    <td>
                      <%= user.email %>
                    </td>
                    <td>
                      <%= user.phonenumber %>
                    </td>
                    <td style="width: 20%;">
                      <div class="d-flex justify-content-center">
                        <% if (user.Status == true){%>

                        <button
                          type="button"
                          class="btn btn-outline-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal-<%= user._id %>"
                        >
                          <span class="fa fa-lock m-1"></span>
                        </button>

                        <% }%>

                        <!-- Modal -->
                        <div
                          class="modal fade"
                          id="exampleModal-<%= user._id %>"
                          tabindex="-1"
                          aria-labelledby="exampleModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1
                                  class="modal-title fs-5"
                                  id="exampleModalLabel"
                                >
                                  CONFIRMATION
                                </h1>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-dialog">
                                Are you confirm ?
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                  style="
                                    background-color: rgba(0, 0, 0, 0.696);
                                  "
                                >
                                  Close
                                </button>
                                <a href="/admin/blockUser/<%= user._id %>"
                                  ><button type="button" class="btn btn-danger">
                                    block
                                  </button></a
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <% if (user.Status == false){%>
                        <a href="/admin/unblockUser/<%= user._id %>"
                          ><button
                            class="btn btn-outline-primary m-1
                              d-flex"
                            style="background-color: rgba(0, 0, 0, 0.696);"
                            type="submit"
                          >
                            <span class="fa fa-lock-open "></span></button
                        ></a>

                        <% }%> <% }) %>
                        <div></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ('../partials/footerLink.ejs') %>
    <script>
      $(document).ready(function () {
        $("#Table").DataTable();
      });
    </script>
  </body>
</html>
