<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/userNav.ejs') %>


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Cart</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Cart</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <section class="h-100 gradient-custom">
        <div class="container py-5">
          <% if (productData.length !=0 ){%>
          <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
              
              <div class="card mb-4">
                
               <% productData.forEach((productData)=>{%>
                <div class="card-body">
                  <!-- Single item -->
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <!-- Image -->
                  
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="<%=productData.productDetail.image[0].url%>"
                          class="w-100 " alt="" style="height: 8rem;" />
                          
                      </div>
                      <!-- Image -->
                    </div>
      
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p><strong><%= productData.productDetail.productName %></strong></p>
                      <p><%=productData.productDetail.Category%></p>
                      
                      
                      <button class="btn btn-white " onclick="removeProduct('<%= productData._id %>','<%= productData.productDetail._id %>')"> 
                        <i class='fa fa-trash ' style='color:rgba(0, 0, 0, 0.623)'  title="remove from cart"></i>

                      </button>
                      
                      
                        <a href="" >
                  
                            <i class='fa fa-heart ml-4' style='color: red'  title="move to favorite"></i>
                        </a>
                      
                      <!-- Data -->
                    </div>
      
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <!-- Quantity -->
                      <div class="d-flex mb-4" style="max-width: 300px">
                        <button class="btn  btn-white px-3 me-2" 

                        <% if(productData.productQuantity === 1){ %> 
                          style="pointer-events: none;"
                            <% } %>"

                          onclick="changeQuantity('<%= productData._id %>','<%= productData.productDetail._id %>',-1)">
                          <i class="fas fa-minus"></i>
                        </button>
      
                        <div class="form-outline">
                          <input id="quantity" min="0" name="quantity" disabled value="<%=productData.productQuantity%>" type="number" class="form-control" />
                          <label class="form-label ml-3" for="form1">Quantity</label>
                        </div>
      
                        <button class="btn btn-white px-3 ms-2"
                          onclick="changeQuantity('<%= productData._id %>','<%= productData.productDetail._id %>',1)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <!-- Quantity -->
      
                      <!-- Price -->
                      <p class="text-start text-md-center">
                        <strong><span class="fa fa-indian-rupee-sign"></span><%=productData.productPrice%></strong>
                      </p>
                      <!-- Price -->
                    </div>
                  </div>
                  <!-- Single item -->
      
                  <hr class="my-4" />
      
                  <!-- Single item -->
                  
                  <% })%>
                 
                </div>
               
              </div>
             
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                  <p><strong>We accept</strong></p>
                  <img class="me-2" width="45px"
                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                    alt="Visa" />
                  <img class="me-2" width="45px"
                    src="https://images.news18.com/ibnlive/uploads/2020/02/UPI.jpg?impolicy=website&width=510&height=356"
                    alt="UPI acceptance mark" />
                  <img class="me-2" width="45px"
                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                    alt="Mastercard" />
                  <img class="me-2" width="40px"
                    src="https://bl-i.thgim.com/public/money-and-banking/nz7hvk/article24801784.ece/alternates/FREE_1200/google-paya"
                    alt="G-pay acceptance mark" />
                </div>
              </div>
            </div>
            <div class="col-lg-4 payment-summary">
              
              <div class="card ">
                <div class="card-header ">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body px-md-3 px-2 pt-4">
                  
                    <form id="coupon" class="d-flex justify-content-between b-bottom">
                      <input type="text" class="ps-2 " name="coupon" placeholder="COUPON CODE" 
                       style="border-radius: 10px;"
                      />
                       <button class="btn btn-primary" type="submit">Apply</button>
                    </form>
                 
                 
                <div class="d-flex flex-column b-bottom">
                  <% productData.forEach((productData)=>{ %>
                  <div class="d-flex justify-content-between py-2">
                    <small class="text-muted">   <%= productData.productDetail.productName %></small>
                    <p><span class="fa fa-indian-rupee-sign text-muted"><%=productData.productPrice%></span></p>
                  </div>
                  <%})%>
                  <div class="d-flex justify-content-between pb-3 pt-2">
                    <small class="text-muted">Discount</small>
                    <p > <span id="discount">0</span> %</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <small class="text-muted">Total Amount</small>
                    <p><span class="fa fa-indian-rupee-sign "></span><strong id="total"><%= sum %></strong></p>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between">
                    <div>
                        <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including GST)</p>
                    </strong>
                    </div>
                  <span> <i class="fa fa-indian-rupee-sign"></i><strong id="lastTotal"><%= sum %></strong></span>  
                  </div>
                  <hr>
                 <div class="d-flex justify-content-center ">
                   <a href="/checkOut"> <button class="btn btn-success" type="submit">Checkout</button></a>
                 </div>
                </div>
                </div>
                
              </div>
            </div>
            
          </div>
          <%}else{%>
            <div class="container-fluid  mt-100">
              <div class="row">
              
               <div class="col-md-12">
               
                   <div class="card">
                 
                 <div class="card-body cart">
                     <div class="col-sm-12 empty-cart-cls text-center">
                       <img src="https://careerindex.co.in/assets/images/emptycart.png"  class="img-fluid mb-4 mr-3">
                       
                       <h4>Add something to make me happy :)</h4>
                       <a href="/product" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                       
                     
                     </div>
                 </div>
             </div>
                 
               
               </div>
              
              </div>
             
             </div>
            <%}%>
        </div>
      </section>
      <script>
        $("#coupon").submit((e)=>{
          let total = parseInt(document.getElementById("total").innerHTML);  
      e.preventDefault();
      $.ajax({
        url:'/applyCoupon',
        method:'post',
        data:$('#coupon').serialize(),
        success:(response)=>{
         if (response.sum) {
           document.getElementById("discount").innerHTML = response.discount *100

          
          document.getElementById("lastTotal").innerHTML = response.sum
          
         } else {
          
         }
        }
      })
    })
    
       </script>
   


    <%- include ('../partials/userFooter.ejs') %>
    <%- include ('../partials/footerLink.ejs') %>

</body>

</html>