<!DOCTYPE html>
<html lang="en">

  <%- include ('../partials/head.ejs') %>
 <link rel="stylesheet" href="../../public/css/productView.css">
<body>
  <%- include ('../partials/userNav.ejs') %>

  
  

    <!-- product detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
         
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <h1 class="section-title position-relative text-center mb-5">
                <%= product.productName %>
              </h1>
            </div>
          </div>
          <div class="row">
            
            <div class="col-lg-4" style="min-height: 400px">
              <div class="images p-3">
								<div class="text-center p-4">
									<figure id="zoomer" class="zoom" onmousemove="zoom(event)" style="background-image: url(<%=product.image[0].url%>);width: 350px; height: 300px; border-radius: 10px;">
									 <img id="main-image" style="width: 350px;height: 300px;" src="<%=product.image[0].url %>" /> 
									</figure>
								</div>
								<div class="thumbnail text-center"> 
									<% if(product.image.length>1){ for(let i=0;i<product.image.length;i++) {%> 
									<img  onclick="change_image(this)"src="<%=product.image[i].url%>"   style="width: 70px; height: 60px; border-radius: 5px ; " 
                  width="70"> 
									<%}}%>
								</div>
								
							</div>
            </div>
            <div class="col-lg-4 py-5 ml-5">
              <h4 class="font-weight-bold mb-3"> Features</h4>
              
              
             <h5  class="text-muted mb-3">
              <%= product.details %>
             </h5>
                
              
              <h5 class="text-muted mb-3">
                    Delicious  <%= product.Category %> ice cream
              </h5>
              <div class="h5 mb-3 text-info  ">
                Prize : <span class="fa fa-indian-rupee-sign"></span>   <%= product.price %>
              </div>
                
              
              
             
              <button class="btn btn-primary mt-2" id="" style="border-radius: 10px;" onclick="addCart('<%=product._id%>')"><span class="fa fa-cart-shopping mr-1">

              </span>Add to cart</button> 
              <button class="btn btn-primary mt-2" id="favbtn" style="border-radius: 10px;" onclick="addFavorite('<%=product._id%>')"><span class="fa  fa-heart  mr-1" >

              </span></button>


              

              </button>
            </div>
          </div>
        
        </div>
      </div>
    <!-- About End -->
    
   

   

      <%- include ('../partials/userFooter.ejs') %> 
      <%- include ('../partials/footerLink.ejs') %>
</body>

<script>
  function change_image(image){
  let container = document.getElementById("main-image");
  let zoomer = document.getElementById("zoomer");
  container.src = image.src;
  zoomer.style.backgroundImage = "url("+image.src+")"
}
document.addEventListener("DOMContentLoaded", function(event) {
});
function offZoom(e) {
  img.style.transformOrigin = `center center`;
  img.style.transform = "scale(1)";
}
function zoom(e){
var zoomer = e.currentTarget;
e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
x = offsetX/zoomer.offsetWidth*100
y = offsetY/zoomer.offsetHeight*100
zoomer.style.backgroundPosition = x + '% ' + y + '%';
}
</script>
</html>